# Python / Django
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.env
*.sqlite3
db.sqlite3
media/
staticfiles/

# Flutter / Dart
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/.pub-cache/
mobile/.pub/
mobile/build/
mobile/**/Generated.xcconfig
mobile/**/flutter_export_environment.sh
*.iml

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
